<div class="row">
  <div class="col-lg-6">
    <form action="/course/add" method="post">
      <div class="form-group">
        <label for="inputName">Couse Name</label>
        <input
          type="text"
          class="form-control"
          id="inputName"
          placeholder="Enter name"
          name="courseName"
        />

      </div>
      <div class="form-group">
        <label for="inputDescription">Description</label>
        <input
          type="text"
          class="form-control"
          id="inputDescription"
          placeholder="Provice short description..."
          name="courseDescription"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>