<div class="search-form mt-4">
  <form method="post" action="/search">
    <div class="form-group">
      <label for="searchInput">Từ khóa</label>
      <input
        type="text"
        class="form-control"
        id="searchInput"
        placeholder="Nhập từ khóa..."
        name="q"
      />
    </div>
    
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>